src/*.c
src/*.o
src/*.lo
src/*.la
src/*.vala~
src/GICR-1.0.gir
src/GICR-1.0.typelib
src/GICR-1.0.vapi
src/gicr.h
src/libgicr_la_vala.stamp
stamp-h1
GICR/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gicr.pc
install-sh
libtool
ltmain.sh
m4/
missing
.deps/
.libs/

